# Database Configuration
DB_USER=lms_user
DB_PASSWORD=change_name
DB_NAME=lms_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"

# Auth Configuration
AUTH_SECRET="votre_secret_tres_long_et_aleatoire"
NUXT_AUTH_ORIGIN="http://localhost:3000"

# Docker / Tools Configuration
PGADMIN_EMAIL=admin@lms.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
NUXT_PORT=3000
